USE [master]
GO
/****** Object:  Database [Waluty]    Script Date: 11.12.2021 18:42:00 ******/
CREATE DATABASE [Waluty]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Waluty', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Waluty.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Waluty_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Waluty_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Waluty].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Waluty]
GO
/****** Object:  Table [dbo].[last_month_currency]    Script Date: 11.12.2021 18:42:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[last_month_currency](
	[Currency] [varchar](50) NULL,
	[Code] [varchar](5) NULL,
	[Mid] [float] NULL,
	[effectiveDate] [date] NULL
) ON [PRIMARY]
GO
USE [master]
GO
